.productsPage{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.color{
    display: flex;
    padding: 10px;
}
.color-box{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
    border-radius: 50%;
}

/* PRICE CARD CSS HERE */
.priceCard{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    width: 27em;
    height: 200px;
    border: 1px solid #bfbfbf;
}
.priceCard__price{
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4em;
}
.realprice,.sellingprice,.discountpercentage{
    font-size: 2rem;
    font-weight: 1000;
}
.discountpercentage{
    color: green;
}
.realprice{
    text-decoration: line-through;
}

.priceCard__quantity{
    margin-top: 0.5em;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}
.priceCard__quantityBox{
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    width: 60px;
    border: 1px solid black;
}
.priceCard__quantity>input{
    width: 3rem;
    height: 1.7rem;
}
.priceCard>button{
    padding: 1em;
    border: none;
    width: 100%;
    margin-top: 0.8em;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}
.quantity{
    font-weight: 1000;
}
.deliveryCard{
   
    width: 30em;
    border-radius: 10px;
    background-color: #f3f3f3;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
}
.deliverycardinput{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.deliverycardinput > input{
    border-radius: 4px;
}

.ProductsPagecards{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}


/* Review Page  */
.review{
    display: flex;
    flex-direction: column;
}
.review > h2{
    margin-top: 3em;
    font-size: 3rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.review__main{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.star{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 150%;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
.star>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 3px;
}


.commentsByUSer__main{
    margin-top: 20px;
    background-color: azure;
    box-shadow: -0.4px -0.3px grey;
    padding: 20px;
}

.commentsByUSer{

    display: flex;
    align-items: center;
   
} 
.details{
    display: flex;
    flex-direction: column;
}
.details>*{
    padding: 10px;
}
.user__and__ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review__details , .user__details{
    padding: 5px;
    display: flex;
    width: max-content;
    justify-content: space-between;

}




@media(max-width:1400px){
    .productsPage{
        flex-direction: column;
    }
    .productsPageleft{
        background: grey;
        margin-left: auto;
        margin-right: auto;
    }
    .ProductsPagecards{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    
    }
    .ProductsPagecards>*{
        margin-bottom: 40px;
    }
    
}