.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/timer-background_1600x.png?v=1683785048");
    background-size:cover ;/* or background-size: contain; */
    background-repeat: no-repeat;
    background-position: center center;
    width: 84%;
    height: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;

}
.timer > h1{
    font-size: 2rem;
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
}
.minutes{
    padding: 13px;
    padding-top: 5px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hours{
    font-size: 2rem;
}
.usp__main{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* border:1px solid red; */
    padding: 10px;
    margin-bottom: 12px;
}
.usp{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}
.usp > img{
    width: 120px;

}

.dealname{
    margin-top: 20px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.dealname >p{
    color: burlywood;
    font-size: 1.5rem;

}