.Navbar__wrapper{
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar__logo{
    width: 7rem;
    height: 4rem;
}

.form_wrapper{
    display: flex;
}

.font{
    font-size: 2rem;

}
.navOption{
    min-width: fit-content;
    font-size: 1.2rem;
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.navOption > li {
    min-width: fit-content;
}