:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* css variables */
  --orange:orange;
  --light-orange:#f5b278;
  --black: #130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:2rem solid rgba(0,0,0,.1);
  --outline:1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
  --outline-hover-orange:.2rem solid var(--orange);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Karla', sans-serif;
/* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */ 
}


.badge:after{
  content:attr(value);
  font-size:12px;
  color: #fff;
  background: red;
  border-radius:50%;
  padding: 0 5px;
  position:relative;
  left:-8px;
  top:-10px;
  opacity:0.9;
}

