.me__main{
    width: 80%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    border: 1px solid pink;
    border-radius: 10px;

}
.menu__items__icon>h2{
    color: white;
}
.me__right_top__heading{
    color: red;
}
.me__right{
    padding: 60px;
    flex: 7;
    background-color: #f8f4f4;

}
.me__left{
    
    padding: 20px;
    flex: 2;
    background-color: rgb(248, 85, 85);
    min-width: 280px;
}

.menu__items{
    padding-top: 40px;
}
.menu__items__icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__items__icon>img,h1{
    margin: 0;
    padding: 0px;
    padding: 10px;
}
.menu__items__icon>img {
    width: 45px;
}
.me__right_top ,  .me__right_top{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 30vh;

    padding: 10px;
}
.me__right__bottom ,.me__right_top > label , input{
    padding: 5px;

}
.me__right__bottom ,.me__right_top > input{
    width: 60%;
    max-width: 300px;
    border-radius: 6px;
}
.me__right__bottom ,.me__right_top > button{
    width: 200px;
    padding: 0.75em;
    border-radius: 30px;
    margin-top: 20px;
    border: white;
    background-color: red;
    color: white;
    font-size: 1em;
    font-weight: 600;
}