.login{
    padding: 1em;
    width: 27em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login__form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.login__form > input {
    width: 29em;
    margin-bottom: 1rem;
    padding: 1.5em;
    border-radius: 0.5em;
}
.login__form > button{
    font-size: large;
    width: 22em;
    padding: 1em;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.5em;
}
.login__heading{
    
}

