/* this function is checker componenet */
.categorywise__main__heading{
    margin-left: 12%;
    margin-top: 80px;
}
.categorywise__main{
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    justify-content: center;
    place-content: center;
    grid-template-columns: repeat( auto-fit, minmax(360px, 1fr) );
    
}
.categorywise{
    max-width: 400px;
    display: flex;
    justify-content: space-between;

    height: 250px;

    flex-grow: 1;
   background-color: #fafafa;
    border-radius: 10px;
}
.categorywise__image{
  padding: 20px;
 

}
.details{
   
    padding: 20px;
}

.price{
    display: flex;
    justify-content: space-between;
}
.price>p{
    padding: 4px;
}
.addtocart{
    width: 150px;
    padding: 0.5em;
    color: white;
    background-color: red;
    border: none;
    margin:15px;
    border-radius: 7px;
    

}

.writearevuew{
    padding: 1em;
    border: white;
    border-radius: 7px;
    width: 180px;
    color: white;
    background-color: red;

}